@import 'v-tooltip';
@import 'notif';
@import "media";

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans/opensans.woff2') format('woff2'), url('../fonts/opensans/opensans.woff') format('woff'), url('../fonts/opensans/opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans/opensansbold.woff2') format('woff2'), url('../fonts/opensans/opensansbold.woff') format('woff'), url('../fonts/opensans/opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//---------roboto------------
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto.woff2') format('woff2'), url('../fonts/roboto/Roboto.woff') format('woff'), url('../fonts/roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto/Robotobold.woff2') format('woff2'), url('../fonts/roboto/Robotobold.woff') format('woff'), url('../fonts/roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//--------VeraCrouz--------
@font-face {
  font-family: 'VeraCrouz';
  src: url('../fonts/VeraCrouz/VeraCrouz.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
}
html{
  overflow: hidden;
}
html, body, main {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.moreLink {
  color: #0F1644 !important;

  &:hover {
    cursor: pointer;
    color: blue !important;
    transition: color .7s ease !important;
  }
}

button {
  cursor: pointer;
}

.owl-stage-outer {
  width: 100%;
  height: 100%;
}

.owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100%;
  transform: none!important;
}

.owl-theme .owl-nav {
  position: absolute;
  padding-left: 44px;
  padding-right: 44px;
  top: 46%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.owl-carousel {
  width: 100%;
  height: 100%;

  .owl-item {
    width: 100% !important;
    height: 100% !important;

    &:not(.active) {
      display: none;
    }

    div {
      &:not(.closer) {
        height: 650px;
      }
    }

    img {
      width: auto!important;
      height: 100%;
      display: block;
      max-width: 1171px;
    }
  }
}

.owl-prev {
  position: relative;
  background: transparent;
  visibility: hidden;

  &:after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background-color: white;
    background-image: url("../../static/prev.svg");
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 17px;
    color: black;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    visibility: visible;
  }
}

.owl-next {
  position: relative;
  background: transparent;
  visibility: hidden;

  &:after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background-color: white;
    background-image: url("../../static/next.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 17px;
    color: black;
    font-size: 36px;
    padding-left: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    visibility: visible;
  }
}

.carousel_unique {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  @media screen and (width: 1280px){
    margin-top: 0;
    padding-top: 0;
    max-height: 600px ;
  }
}

.page-enter-active, .page-leave-active {
  transition: all .3s ease-in-out;
}

.page-enter, .page-leave-active {
  filter: blur(10px);
}

.modal-body {
  flex: 1 1 100%;
  align-items: center;
}

.modal-dialog {
  max-width: 100% !important;
}

.closer {
  position: absolute;
  top: 20px;
  right: 49px;
  width: 31px;
  z-index: 9999;
  height: 31px;
  cursor: pointer;
  background: url("../../static/closer.svg");
  @media screen and (width: 1280px){
    top: 40px;
  }

  &:hover {
    transition: .3s ease-in-out;
    transform: rotate(720deg);
  }
}

#myTurntable {
  ul, li, img {
    height: 410px;
  }
}
#myTurntable {
  img {
    display: block;
    margin-top: 40px;
    width: 483px;
    height: 330px;
  }
}

polygon {
  stroke-width: 1;
  cursor: pointer;
  position: relative;
  transition: opacity 1s ease-in;
}

polygon:hover {
 fill: #226ACE;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: opacity 1s ease-out;
}

.hide {
  opacity: 0;
  transition: all 1s ease;
  display: none !important;
  visibility: hidden;
}


//turntable
.turntable {
  display: block;
  margin: 0px;
}

.turntable ul {
  padding: 0px;
  margin: 0px;
}

.turntable ul li {
  list-style-type: none;
  visibility: hidden;
  display: none;
  transition: visibility .2s ease-out;
}

.turntable ul li img {
  width: 100%;
}

.turntable ul li.active {
  display: block;
  visibility: visible;
  transition: visibility .2s ease-in;
}

//turntable
//tooltip
.popover {
  background-color: transparent !important;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}

.tooltip {
  .tooltip-arrow {
    border-color: white;
  }

  .tooltip-inner {
    background: #ffffff;
    -webkit-box-shadow: 5px 13px 30px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 13px 30px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 13px 30px -7px rgba(0, 0, 0, 0.75);
  }
}

//tooltip//
//MODAL REG OR LOGIN
.moda {
  display: block;
  width: 450px;
  font-family: 'VeraCrouz';
  font-size: 16px;

  .close {
    &:focus {
      outline: none;
      color: lightyellow;
    }
  }

  input, button {
    border-radius: 0;
  }

  &-footer, &-header {
    border-radius: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
  }

  &:focus {
    outline: none;

    &input {
      outline: #0F1644;
    }
  }
}

//MODAL REG OR LOGIN
.moda{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  h3{
    color:white;
  }
}
