@media screen and (max-width: 1025px) {
  .navbar-custom {
    //display: none;
  }
  #bigImg3 {
    transform: scale(1.3) rotate(0deg);
    -o-object-fit: fill;
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50px;
  }
  #map {
    transform: scaleY(0.54) scaleX(0.685) skew(-1.5deg, 20deg) rotate(290deg) translateX(-7px) translateY(7px);
    left: 6px !important;
    top: 52px !important;
    position: absolute;
  }
  #mapImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  body {
    overflow: hidden !important;
  }
  .zoom {
    transform: scale(1.1);
    transition: .5s ease;
  }
}

//iphone360*640
@media screen and (width: 360px) and (height: 640px) {
  #bigImg3 {
    transform: scale(1.4) rotate(0deg);
    top: 15px;
  }
  #map {
    transform: scaleY(0.505) scaleX(0.74) skew(1.7deg, 25deg) rotate(289.1deg) translateX(37px) translateY(-40px);
    left: 31px !important;
    top: 52px !important;
  }
}

//iphone360*640 раком
@media screen and (width: 640px) and (height: 360px) {
  #bigImg3 {
    transform: scale(1.45, 1.2) rotate(-90deg);
    top: 0;
    left: 8px;
  }
  #map {
    transform: scaleY(1.049) scaleX(0.419) skew(-60deg, 10deg) rotate(180.5deg) translateX(10px) translateY(7px);
    left: 15px !important;
    top: 2px !important;
  }
}

//iphoneX
@media screen and (width: 375px) and (height: 812px) {
  #bigImg3 {
    transform: scale(1.3) rotate(0deg);
    top: 25px;
  }
  #map {
    transform: scaleY(0.547) scaleX(0.675) skew(-1.5deg, 20deg) rotate(290deg) translateX(-7px) translateY(7px);
    top: 27px!important;
    left: 11px!important;
  }
  .zoom {
    transform: scale(1.04);
    transition: .5s ease;
  }
}

//iphoneX раком
@media screen and (width: 812px) and (height: 375px) {
  #bigImg3 {
    transform: scale(1.7, 1.5) rotate(-90deg);
    -o-object-fit: contain;
    object-fit: contain;
    top: 0;
    left: 25px;
  }
  #map {
    transform: scaleY(1.27) scaleX(0.475) skew(-60deg, 10deg) rotate(180deg) translateX(10px) translateY(7px);
    left: 30px !important;
    top: -2px !important;
  }
}


//iphone320*568
@media screen and (width: 320px) and (height: 568px) {
  #bigImg3 {
    transform: scale(1.4) rotate(0deg);
    top: 25px;
  }
  #map {
    transform: scaleY(0.52) scaleX(0.81) skew(3.7deg, 27deg) rotate(290deg) translateX(37px) translateY(-40px);
    left: 31px !important;
    top: 63px !important;
  }
}

//iphone320*568 раком
@media screen and (width: 568px) and (height: 320px) {
  #bigImg3 {
    transform: scale(1.45, 1.2) rotate(-90deg);
    top: 0;
    left: 8px;

  }
  #map {
    transform: scaleY(1.16) scaleX(0.416) skew(-62deg, 9deg) rotate(180deg) translateX(10px) translateY(7px);
    left: 15px !important;
    top: 2px !important;
  }
}

//iphone678
@media screen and (width: 375px) and (height: 667px) {
  #bigImg3 {
    transform: scale(1.32) rotate(0deg);
    top: 20px;
  }
  #map {
    transform: scaleY(0.479) scaleX(0.687) skew(1.6deg, 25deg) rotate(290deg) translateX(-6px) translateY(4px);
    top: 22px!important;
    left: 8px!important;
  }
}

//iphone678 раком
@media screen and (width: 667px) and (height: 375px) {
  #bigImg3 {
    transform: scale(1.45, 1.2) rotate(-90deg);
    top: 0;
    left: 18px;
  }
  #map {
    transform: scaleY(1.04) scaleX(0.419) skew(-60deg, 9.4deg) rotate(181deg) translateX(10px) translateY(7px);
    left: 24px !important;
    top: 2px !important;
  }
}

//iphone+
@media screen and (width: 414px) and (height: 736px) {
  #bigImg3 {
    transform: scale(1.32) rotate(0deg);
    top: 25px;
  }
  #map {
    transform: scaleY(0.519) scaleX(0.69) skew(1.6deg, 21deg) rotate(291deg) translateX(-6px) translateY(4px);
    top: 28px !important;
  }
}

//iphone+ раком
@media screen and (width: 736px) and (height: 414px) {
  #bigImg3 {
    transform: scale(1.55, 1.2) rotate(-90deg);
    top: 0;
    left: 18px;
  }
  #map {
    transform: scaleY(0.95) scaleX(0.461) skew(-55deg, 9.4deg) rotate(181.9deg) translateX(10px) translateY(7px);
    left: 23px !important;
    top: 2px !important;
  }
}

//ipad
@media screen and (width: 768px) and (height: 1024px) {
  #bigImg3 {
    transform: scale(1.3) rotate(0deg);
    top: 25px;
    left: 0px;
  }
  #map {
    transform: scaleY(0.673) scaleX(0.72) skew(1deg, 5deg) rotate(297deg) translateX(-6px) translateY(4px);
    top: 30px !important;
    left: 17px !important;
  }
}

//ipad раком
@media screen and (width: 1024px) and (height: 768px) {
  #bigImg3 {
    transform: scale(1.8, 1.5) rotate(-90deg);
    top: 0;
    left: 25px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  #map {
    transform: scaleY(0.786) scaleX(0.72) skew(-25deg, 3deg) rotate(196.7deg) translateX(10px) translateY(7px);
    left: 38px !important;
    top: -3px !important;
  }
}

//ipad_Pro
@media screen and (width: 1024px) and (height: 1366px) {
  #bigImg3 {
    transform: scale(1.35) rotate(0deg);
    top: 50px;
    left: 10px;
  }
  #map {
    transform: scaleY(0.87) scaleX(0.8) skew(-5deg, -5deg) rotate(300deg) translateX(-6px) translateY(4px);
    top: 56px !important;
    left: 21px !important;
  }
}

////ipad_Pro раком
//@media screen and (width: 1366px) and (height: 1024px){
//  //#bigImg3{
//  //  transform: scale(2) rotate(-90deg);
//  //  top: 0;
//  //  left: 18px;
//  //  -o-object-fit: contain;
//  //  object-fit: contain;
//  //}
//  #map{
//    //transform: scaleY(1) scaleX(0.72) skew(-28deg, 3deg) rotate(-5deg) translateX(10px) translateY(7px);
//    left: 30px !important;
//    top: 50px !important;
//  }
//}

